<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.damei.dormitorychoose">

    <!--增加访问网络状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--增加INTERNET的权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--注册Activity-->
        <activity android:name=".Login">
            <!--指定主Activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".QueryRemainBeds">
        </activity>

        <activity android:name=".Choose">
        </activity>

    </application>

</manifest>
